<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes Appareils</h2>
      <ul class="list-group">
        <app-appareil appareilName="Machine à Laver"></app-appareil>
        <app-appareil appareilName="Frigo"></app-appareil>
        <app-appareil appareilName="Ordinateur"></app-appareil>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Start All</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
